<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Welcome to the Garden App</h1>
    <p>You can use this app to track what you planted in your garden and record notes on how well it did.  Start by creating a garden for the year, then create your list of seeds, and assign the seeds to your garden.</p>

    <a href='/gardens'>See my Gardens</a>
    <a href='/seeds'>See a list of seeds</a>
    
</body>
</html>