<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Garden</title>
    <link rel='stylesheet' href='../css/app.css'>
</head>
<body>
    <h1>New Garden page</h1>

    <form action="/gardens" method="POST">
        Seed ID: <input type="text" name="seedId"><br>
        Year: <input type="text" name="year"><br>
        Notes: <input type="text" name="notes"><br>
        <input type="submit" value="Create Garden">
    </form>

    <br>
    <nav>
        <a href='/seeds'>Back to Seeds page</a>
        <a href="/gardens/">View gardens</a>
    </nav>
</body>
</html>