<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Seed</title>
    <link rel='stylesheet' href='../css/app.css'>
</head>
<body>
    <h1>New Seed page</h1>

    <a href='/seeds'>Return to list of seeds</a>
    <br>
    <a href='/gardens'>Show list of gardens</a>
    <br>

    <form action="/seeds" method="POST">
        Name: <input type="text" name="name"><br>
        Variety: <input type="text" name="variety"><br>
        Year Purchased: <input type="text" name="yrPurchased"><br>
        Price: <input type="text" name="price"><br>
        Purchased From: <input type="text" name="purch_from"><br>
        Catalog Seed ID: <input type="text" name="catSeedId"><br>
        Description: <input type="text" name="desc"><br>
        Purchase Again: <input type="text" name="purch_again"><br>
        Result: <input type="text" name="result"><br>
        Garden ID: <input type="text" name="gardenId"><br>
        <input type="submit" value="Create Seed">
    </form>
</body>
</html>